canvas {
	position: absolute;
	float:left;
}
#tweet {
	display:none;
	font-family: sans-serif;
	color: black;
	font-size: 20px;
}
#helpText {
	display:none;
	font-family: sans-serif;
	color: black;
	font-size: 20px;	
}
#survival {
	display:none;
}	
#timer {
	display:none;
}
#help {
	display:none;
}
html { 
  background: url(images/Sky_Blue.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	margin: 0;
}



