canvas {
	position: absolute;
}
#tweet {
	display:none;
	font-family: sans-serif;
	color: black;
	font-size: 20px;
}
#helpText {
	display:none;
	font-family: sans-serif;
	color: black;
	font-size: 20px;	
}
#survival {
	display:none;
}	
#timer {
	display:none;
}
#help {
	display:none;
}



